.textField {
    height: 32px;
    padding: 4px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 2px;

    &.error {
        border-color: #af2100;
    }
}