.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-top: 1px solid #d7dbe0;
    background-color: white;
    color: #a0a7b1;
    font-weight: 400;
    font-size: 14px;
    z-index: 1000;
}