.header {
  position: sticky;
  top: 0;
  padding: 16px;
  padding-left: 80px;
  border-bottom: 1px solid #d7dbe0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  color: #1a1d21;
  font-weight: bold;
  background-color: #f6f7f8;
  z-index: 1000;
}